<a href="/animals/new">+ New Animal</a>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Birthday
    </th>
    <th>
      Kind
    </th>
  </tr>
  <% @animals.each do |animal| %>
    <tr>
      <td>
        <%= animal.name %>
      </td>
      <td>
        <%= animal.born_on %>
      </td>
      <td>
        <%= animal.species %>
      </td>
      <td>
        <a href="/animals/<%= animal.id %>/edit">Edit</a>
        <form action="/animals/<%= animal.id %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
</table>
